@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&display=swap" rel="stylesheet');

:root{
    --main-color:#75bf44;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    display: grid;
    background: linear-gradient(#75bf44, #75bf44), url(../Images/11.gif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: screen;
    
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#333;
    font-size: 2.5rem;
}

 .header .logo span{
    color:var(--main-color);
} 

.header .navbar a{
    font-size: 1.7rem;
    color:#000;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#333;
    cursor: pointer;
    display: none;
}

#wrapper{
    margin: 10% auto;
    width: 100%;
    max-width: 800px;
    background:hsla(89, 43%, 51%, 0.3)
   
}

#hdcomments{
    border: 1px solid #eee;
    padding:40px;
    font-size: 1.5rem;
}

#hdcomments *,
#hdcomments *:before,
#hdcomments *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#hdc_comment_contact{
    display: grid;
    grid-template-columns: 1fr 1fr; /*50%*/
    grid-column-gap:40px;
    margin-top: 20px;
    font-size: 1.5rem;
}

#hdc_comment_footer{
    display:grid;
    grid-template-columns: 1fr 80px;
    align-items: center;

}

#hdc_reaction_title{
    display: inline-block;
    font-size: 1.5rem;
}
.hdc_reaction {
    padding: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1.5rem;
}

.hdc_reaction hover{
    border: 1px solid #ccc;
}

.hdc_reaction_selected{
    border: 1px solid #999;
 }

.hdc_label{
    display: block;
    margin-bottom: 8px;
    font-size: 1.5rem;

}

.hdc_input{
    width:100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
}

#hdc_submit{
    background: #222;
    padding: 12px 16px;
    color: #fff;
    border:none;
    font-size: 1.5rem;
    opacity: 0.4;
}

.hdc_submit_enabled{
    opacity:1 !important;
}

#hdc_comments{
    margin-top: 40px;
}

.hdcomment{
    border: 1px solid #eee;
    border-bottom: 3px solid #ccc;
    padding: 20px;
    margin-bottom: 12px;
}

.hdc_comment p:first-child {
    margin-top: 0;
}

.hdc_meta {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
}

 .hdc_meta_date_author{
    font-size: 12.8px;
} 

.hdc_meta_author{
    margin: 22px;
    font-weight: bold;
}

.hdc-vote{
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
}


.hdc_vote_options{
  display: grid;
  grid-auto-columns: 1fr;
}

.hdc_upvote,
.hdc_downvote{
    cursor: pointer;

}

.hdc_vote_disabled{
    cursor: default;
    opacity: 0.4;
}

.hdc_vote_selected{
   opacity: 0.6;
}

.footer{
    background:#333;
}

.footer .credit{
    text-align: center;
    color:#fff;
    padding:-1rem;
    padding-top: -0.5rem;
    margin-top: -1rem;
    font-size: 154%;
    width:100%;
}

.footer .credit span{
    color:var(--main-color);
}

.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }


}













/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#FFF;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}

