@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&display=swap" rel="stylesheet');
*{
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    --main-color:#75bf44;
}

html{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
    color:#fff;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    font-size: 62.5%;
}

 /* html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}  */

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: #fff;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#333;
    font-size: 2.5rem;
    text-decoration: none;
    
}

 .header .logo span{
    color:var(--main-color);
} 

.header .navbar a{
    font-size: 1.7rem;
    color:#000;
    margin-left: 2rem;
    text-decoration: none;

}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#333;
    cursor: pointer;
    display: none;
}



html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
} 

 a{
    color: #75bf44;
     /* font-weight: bolder;  */
    text-decoration: none;
    font-size: 15px;
} 

h1{
    font-size:16px;
    font-weight: bolder;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#333;
    font-size: 14px;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none; 
}
.forum-info{
    font-size: 14px;
}


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    

  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  }
/*   Header Section    */
/*  
header{
    margin-inline: 10px;
} */
  /* Nav Bar styles */
/* .navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:#333;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: var(--main-color); ;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 40px;
    display: inline-block;
    margin-right:10px;
    color: #333;
    cursor: pointer;
} */ 

/* @font-face {
    font-family:aquire;
    src:url(aquire.otf);
} */

/* .brand{
    font-weight: bolder;
    font-size:30px;
    display: inline-block;
    font-family:'Poppins', sans-serif;
    color:#333;
}
.brand span{
    color:var(--main-color);
}  */


/*Navbar for the smartphones*/
/* @media screen and (max-width: 460px){
     .navigation{
        max-height: auto;
    }
     
    .navigation{
        background-color:#333;
        padding: 10px;
        width: 65%;
        display: inline-block;
        border-radius: 5px;
        max-height: 80px;
        margin-right:10px;
    }
    .close-icon i{
        font-size:30px;
    }
    
    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    
    
    .bar-icon{
        font-size: 30px;
    }
 
    .brand{
        font-size:20px;
    }
} */ 

  /* Search Box styles */
.search-box{
    border: solid 70px #75bf44;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #75bf44;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #75bf44;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }    

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #333;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    font-size: 14px;
    margin-top: 20px;
    padding: 20px;
    background-color:  #333;
    display: block;
    text-align: center;
    color:#fff
}
footer  span{
    color:var(--main-color);
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
    font-size: 14px;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
    font-size: 14px;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    background-color: #333;

}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
/* .navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}


.navigate a{
    color: #333;
}

.navigate a:hover{
    color:#75bf44;
    font-weight: bolder;
} */

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
    color:#75bf44;
}

.pagination a{
    color: #333;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #333;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#333;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #333;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        text-decoration: none;
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#FFF;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
        text-decoration: none;
    }

    

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    

}




