@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&display=swap" rel="stylesheet');

:root{
    --main-color:#75bf44;
}


body{
 
	background-color: #f1f1f1;
}

*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
img {
    width: 100%;
    height: auto;
  }
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}


section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#333;
    font-size: 2.5rem;
}

 .header .logo span{
    color:var(--main-color);
} 

.header .navbar a{
    font-size: 1.7rem;
    color:#000;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#333;
    cursor: pointer;
    display: none;
}

section{
  padding:2rem 7%;
}


.container{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap:1.5rem;
  background:#eee;
}

.container .posts-container .post{
  width:100%;
  padding:2rem;
  background:#fff;
  border:var(--main-color);
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}

.container .posts-container .post .image{
  height: auto;
  width:100%;
  border-radius: .5rem;
  object-fit: cover;
}

.container .posts-container .post .date{
  padding-top: 2rem;
  font-size: 1.5rem;
  color:var(--main-color);
}

.container .posts-container .post .title{
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color:var(--main-color);
}

.container .posts-container .post .text{
  color:var(--light-color);
  font-size: 1.6rem;
  line-height: 1.7;
  padding:1rem 0;
}

.container .posts-container .links{
  border-top: var(--border);
  margin-top: .5rem;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
}

.container .posts-container .links .user{
  margin-right: auto;
}

.container .posts-container .links .icon{
  padding-right: 1rem;
}

.container .posts-container .links a{
  font-size: 1.5rem;
  color:var(--main-color);
}

.container .posts-container .links a i{
  padding-right: .2rem;
  color:var(--main-color);
}

.container .posts-container .links a:hover{
  color:var(--main-color);
}

.container .posts-container .links a:hover i{
  color:var(--main-color);
}


@media only screen and (max-width:768px){
	.left-column,.right-column{
        width: 100%;
        padding: 0px;
    }

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#FFF;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }
    .home .content h3{
        font-size: 4rem;
    }

}


/* Footer Styling */

footer{
    font-size: 14px;
    margin-top: 20px;
    padding: 20px;
    background-color:  #333;
    display: block;
    text-align: center;
    color:#fff
}
footer  span{
    color:var(--main-color);
}

.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:1.5rem 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bars{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:100%; left:0; right:0;
      border-top: .1rem solid #222;
      background: #333;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times{
      transform: rotate(180deg);
  }

  .header .navbar a{
      display: flex;
      background:#FFF;
      border-radius: .5rem;
      padding:1.3rem;
      margin:1.3rem;
      font-size: 2rem;
  }

  .home .content h3{
      font-size: 4rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }


}

/* media queries  */

@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding:1.5rem;
  }

  section{
      padding:2rem;
  }    

  .container{
      grid-template-columns: 2fr 1fr;
  }

}

@media (max-width:768px){

  #menu-bars{
      display: inline-block;
  }


  .header .navbar{
      position: absolute;
      top:100%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background: #333;        
      display: none;
  }

  .header .navbar.active{
      display: block;
  }

  .header .navbar a{
      display: block;
      background:#f7f7f7;
      padding:1.5rem;
      margin:1.5rem;
      border-radius: .5rem;
      border:var(--border);
  }

  .container{
      grid-template-columns: 1fr;
      gap:0;
  }

  .container .posts-container .post .image{
      height: 30rem;;
  }

  .footer{
      flex-flow: column;
      text-align: center;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  
}




