@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Poppins:wght@500&display=swap" rel="stylesheet');

:root{
    --main-color:#75bf44;
}


body{

	background-color: #f1f1f1;
}

*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
img {
    width: 100%;
    height: auto;
  }
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}


section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--main-color);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#333;
    font-size: 2.5rem;
}

 .header .logo span{
    color:var(--main-color);
} 

.header .navbar a{
    font-size: 1.7rem;
    color:#000;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#333;
    cursor: pointer;
    display: none;
}

.row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.container{
    max-width: 100%;
}
.post{
    margin: 20;
}

@media only screen and (max-width:768px){
	.left-column,.right-column{
        width: 100%;
        padding: 0px;
    }

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#FFF;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }
    .home .content h3{
        font-size: 4rem;
    }

}

.head{
    margin-top: 50px;
    font-size: 3rem;
    margin-bottom: 50px;
    text-align: center;
}
.head span{
    color:var(--main-color);
  }
/*
  .content{
    position: relative;
    /* //width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
  }
  
  .content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .content .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
  }
  
  .content .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
  }
  

  .section-title{
    font-size: 3em;
    margin-bottom: 80px;
  }
  
  .info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .info{
    width: 700px;
    margin-left: 50px;
  }
  
  .media-info{
    width: 400px;
    margin-left: 50px;
  }
  
  .media-info li{
    list-style: none;
    font-size: 1.4em;
  }
  
  .media-info li a{
    color: #fff;
    text-decoration: none;
  }
  
  .media-info li:not(:last-child){
    margin-bottom: 50px;
  }
  
  .media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
  }
  
  .media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
  }
  
  .sec-03{
    margin-bottom: 100px;
  }
  
footer{
	background-color: #dddddd;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}
 */


.footer{
    background:#333;
}

.footer .credit{
    text-align: center;
    color:#fff;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: -1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:var(--main-color);
}

.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}




