{% load hitcount_tags %}
{% load static %}
{% if user.is_authenticated%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href={%static 'css/forumagain.css'%}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'Home' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'Forums' %}">Forums</a></li>  
                    <li class="nav-item"><a href="{% url 'Event' %}">Events</a></li>
                    <li class="nav-item"><a href="{% url 'Newsletter' %}">Newsletter</a></li>
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand"><span>Herald</span>SupportClan</div>
        </div>
        <!--SearchBox Section-->
        <form action="{% url 'search_result' %}" role="form" method="GET">
        <div class="search-box">
            <div>
                <select name="search-box" id="">
                    <option value="Everything">Everything</option>
                    <option value="Titles">Titles</option>
                    <option value="Descriptions">Descriptions</option>
                </select>
                <input type="text" name="q" placeholder="search ...">
                <button type="submit" name="search"><i class="fa fa-search"></i></button>
            </div>
        </div>
        </form>
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span><a href="{% url 'Forums' %}">MyForum - Forums</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">Author</div>
                <div class="content">Topic: {{post.title}} (Read {% get_hit_count for post %} Times)</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{post.user.fullname|title}}</a></div>
                    <div>Role</div>
                    <img src="{{post.user.profile_pic.url}}" alt="">
                    <div>Posts: <u>{{post.user.num_posts}}</u></div>
                    <div>Points: <u>{{post.user.points}}</u></div>
                </div>
                <div class="content">
                   {{post.content|safe}}
                    <br>
                    <div class="comment">
                        <button onclick="showComment()">Comment</button>
                    </div>
                </div>
            </div>
        </div>

         <!--Comment Area-->
         {% if post.closed == True%}
         <div style="background-color:#fff; color:red; font-weight:bolder; padding:20px; width:100%;"> Cannot comment on this topic as this topic is closed! </div>
         {% else %}
         
         <form action="." method="post"> 
          {% csrf_token %}
         <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id="" placeholder="comment here ... "></textarea>
            <input type="submit" value="submit" name="comment-form">
         </div>
         </form>
         {% endif %}

        <!--Comments Section-->

        {% for comment in post.comments.all %}
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.fullname|title}}</a></div>
                    <div>Role</div>
                    <img src="{{comment.user.profile_pic.url}}" alt="">
                    <div>Posts: <u>{{comment.user.num_posts}}</u></div>
                    <div>Points: <u>{{comment.user.points}}</u></div>
                </div>
                <div class="content">
                    {{comment.content}}
                    <br>
                    <div class="comment">
                        <button onclick="showReplies('comment{{comment.id}}')">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
        <form action="." method="post">
         {% csrf_token %}
        <div class="comment-area hide" id="comment{{comment.id}}">
            <textarea name="reply" id="" placeholder="reply here ... "></textarea>
            <input type="submit" value="submit" name="reply-form">
            <input type ="hidden" name="comment-id" value="{{comment.id}}">
        </div>
        </form>


        <!--Reply section-->
        {% for reply in comment.replies.all %}
        <div class="comments-container" style="width: 95%; margin-left:5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.fullname|title}}</a></div>
                    <div>Role</div>
                    <img src="{{reply.user.profile_pic.url}}" alt="">
                    <div>Posts: <u>{{reply.user.num_posts}}</u></div>
                    <div>Points: <u>{{reply.user.points}}</u></div>
                </div>
                <div class="content">
                    {{reply.content}}
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}

        
 </div>

    <footer>
        &copy; copyright @ 2021 by <span>Herald College Kathmandu</span>
    </footer>
    <script src="{%static 'js/forumagain.js'%}"></script>
</body>
</html>
{% else %}
<p style="color:#75bf44;font-size:30px;font-family: 'Poppins', sans-serif; font-weight:bolder;">
  Please Register or LogIn to view this page!<br><a href="{% url 'register' %}"><b>Register</b></a></br> or <a href="{% url 'login' %}"><b>Login</b></a>
</p>
{% endif %}