{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Event Information</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<section id="slider" class="pt-5">
  <div class="container">
    <h1 class="text-center"><b>More Information on Events</b></h1>
	
	  <div class="slider">
				<div class="owl-carousel">
					{% for slider in sliderdata %}
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{{ slider.image.url }}" alt="" >
						</div>
						<h5 class="mb-0 text-center"><b>{{ slider.title }}</b></h5>
						<p class="text-center p-4"> {{ slider.description }}

						</p>
					</div>
					{% endfor %}
					
					{% comment %} <div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{% static 'Images/event2.jpg' %}" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Events Name</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{% static 'Images/event3.jpg' %}" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Events Name</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{% static 'Images/event4.jpg' %}" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Events Name</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{% static 'Images/event5.jpg' %}" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Events Name</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div> {% endcomment %}
				</div>
			</div>
		
  </div>

</section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/eventinfo.js' %}"></script>
</body>
</html>