{% load static %}
{% static 'Images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    
    <link rel="stylesheet" href="{%static 'css/Home.css'%}">
   
</head>
<body>



<!-- header section starts  -->

<header class="header">
    
  <a href="#" class="logo"><span>Herald</span>SupportClan</a>

  <nav class="navbar">
    <a  href="{% url 'Home' %}">Home</a>
    <a href="{% url 'Forums' %}">Forums</a>
    <a href="{% url 'Event' %}">Events</a>
    <a  href="{% url 'Newsletter' %}">Newsletter</a>
    {%  if user.is_superuser %}
    <a href= "{% url 'Forum_postsapproval' %}"> Approval Posts</a>
    {% endif %}
  </nav>
  <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section id="home" class="container-fluid">

<div class="row align-items-center min-vh-100 content">

<div class="col-md-8 ml-md-5 text-center text-md-left">

  
  <h2>Hello</h2>
  <h1>Discussion Forum</h1>
  <h3>learn online outside the classroom</h3>

  {% if user.is_authenticated %}
  <h2> Hello, {{user.username}}</h2>
  <a href="accounts/logout"><button> Logout now>></button></a>
  {% comment %} <a href="update_profile"><button>Update Profile</button></a>   {% endcomment %}
  <a href="{% url 'create_post' %}"><button>Create post</button></a>  
  {% else %}
  <a href="{% url 'register'  %}"><button> Register now>></button></a>  
  <a href="{% url 'login'  %}"><button> LogIn now>></button></a>  
  {% endif %}
  <div class="icons">
    <a href="https://www.facebook.com/heraldcollegektm" target="_blank" class="fab fa-facebook-f"></a>
    <a href="https://www.tiktok.com/search?q=herald%20college%20kathmandu&t=1646915602069"  target="_blank" <i class="fab fa-tiktok fa-2x"></i></a>
    <a href="https://www.instagram.com/heraldcollegektm/" target="_blank" class="fab fa-instagram"></a>
    <a href="https://www.linkedin.com/school/herald-college-kathmandu/" target="_blank" class="fab fa-linkedin"></a>
  </div>

</div>

</div>


</section>

<!-- home section ends -->

<!-- course section starts  -->

{% comment %} {% for sec in secs %} {% endcomment %}
<section id="course">

<h1 class="heading">our latest events</h1>

{% for sec in secs %}
<div class="box-container">

  <div class="box" data-aos="flip-right">
    <img src="{{sec.img.url}}" alt="">
    <p>{{sec.desc}}</p>
  </div>

  {% comment %} <div class="box" data-aos="flip-down">
    <img src="{{sec2.img.url}}" alt="">
    <p>{{sec2.desc}}</p>
  </div>

  <div class="box" data-aos="flip-left">
    <img src="{{sec3.img.url}}" alt="">
    <p>{{sec3.desc}}</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{sec4.img.url}}" alt="">
    <p>{{sec4.desc}}</p>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="{{sec5.img.url}}" alt="">
    <p>{{sec5.desc}}</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{sec6.img.url}}" alt="">
    <p>{{sec6.desc}}</p>
  </div> {% endcomment %}


</div>
{% endfor %}
</section>

<!-- course section ends -->


<!-- service section starts  -->

<section id="service">

<h1 class="heading">what we offer?</h1>

<div class="box-container">

  <div class="box" data-aos="flip-up">
    <img src="{% static 'Images/service1.jpg' %}" alt="">
    <div class="info">
      <h2>skilled teachers</h2>
      <p> Herald Support Clan is offers skillful teachers who understands students confusion in course-realted matters and helps them resolve it through posting posts and commenting on the students posts as well as on helps student in their assigments in the same way.</p>
    </div>
  </div>

  <div class="box" data-aos="flip-down">
    <img src="{% static 'Images/service2.jpg' %}" alt="">
    <div class="info">
      <h2>Work on Assignments Together</h2>
      <p>Working on the assignments are quite difficult when done alone. Herald Support Clan is a platform offering students to work on their assignment together on an online scenario through online posting, commenting and replying</p>
    </div>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="{% static 'Images/service3.jpg' %}" alt="">
    <div class="info">
      <h2>Make new Friends</h2>
      <p>New to college, finding difficult in making friends? Here, in herald support clan you have an opportunity to know new friends, talk to them realted to assignments, course and be friend with them. </p>
    </div>
  </div>

</div>


</section>

<!-- service section ends -->

<!-- testimonials section starts  -->

<section id="testimonial">

<h1 class="heading"><a href="{% url 'studentreview' %}">what our students says</a></h1>
<div class="box-container">

  <div class="box" data-aos="flip-left">
    <img src="{% static 'Images/Screenshot 2021-12-06 at 15-09-02  jeshmi_rajak • Instagram photos and videos.png' %}" alt="">
    <div class="info">
      <p><i class="fas fa-quote-left"></i>It was hard finding friends when I was new to college. Since, I started using the forum I got a lot of new friends.<i class="fas fa-quote-right"></i></p>
      <h2>--Jeshmi Rajak</h2>
    </div>
  </div>
  
  <div class="box" data-aos="flip-right">
    <img src="{% static 'Images/Screenshot 2021-12-06 at 15-10-44 Matina Bajracharya ( matinaaa _) • Instagram photos and videos.png' %}" alt="">
    <div class="info">
      <p><i class="fas fa-quote-left"></i>I was always interested in participating in the college events but I always used to miss the events dates due I not knowing about the events.But eversince, I started using this webiste I am updated about the events.<i class="fas fa-quote-right"></i></p>
      <h2>--Matina Bajracharya</h2>
    </div>
  </div>
  
  <div class="box" data-aos="flip-left">
    <img src="{% static 'Images/Screenshot 2021-12-06 at 15-11-27 Binil Baidya ( __binil__) • Instagram photos and videos.png'  %}" alt="">
    <div class="info">
      <p><i class="fas fa-quote-left"></i>Trying to know about the college related news join herald support clan for the detailed news.<i class="fas fa-quote-right"></i></p>
      <h2>--Binil Baidya</h2>
    </div>
  </div>
  
  <div class="box" data-aos="flip-right">
    <img src="{% static 'Images/Screenshot 2021-12-06 at 15-14-47 Daniel Man Prajapati ( dan_daniels_dj) • Instagram photos and videos.png' %}" alt="">
    <div class="info">
      <p><i class="fas fa-quote-left"></i>I always find difficult in working with my assigments thenceforward I heard about HeraldSupportClan I joined the online disussion found myself group of assigment partner to work with.<i class="fas fa-quote-right"></i></p>
      <h2>--Daniel Prajapati</h2>
    </div>
  </div>

</div>

</section>

<!-- testimonials section ends -->

<!-- contact section starts  -->



<section class="about" id="about">

<h1 class="heading"><span>about us</span>  </h1>

<div class="row">

    <div class="image">
        <img src="{% static 'Images/cover.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>Learn more about our goals</h3>
        <p>Online forums can be used for many purposes, such as helping students to review material prior to an assignment or exam, engaging students in discussion of course material before coming to class, and reflecting on material that they have read or worked with outside of class.</p>
        <p>Students will get to know about the latest news with their detailed description with day to day updated news about college here.</p>
        <a href="{% url 'team' %}" class="btn">Our Team</a>
    </div>

</div>
</section>

<!-- contact section ends -->


<!-- footer section starts  -->

<footer>
  &copy; copyright @ 2022 by <span>Herald College Kathmandu</span>
</footer>

<!-- footer section ends -->



<div class="theme-toggler">

  <div class="toggle-btn">
      <i class="fas fa-cog"></i>
  </div>

  <h3>choose color</h3>

  <div class="buttons">
      <div class="theme-btn" style="background: #3867d6;"></div>
      <div class="theme-btn" style="background: #f7b731;"></div>
      <div class="theme-btn" style="background: #ff0033;"></div>
      <div class="theme-btn" style="background: #20bf6b;"></div>
      <div class="theme-btn" style="background: #fa8231;"></div>
      <div class="theme-btn" style="background: #FC427B;"></div>
  </div>

</div>



<!-- script part start  -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay:500
    });
</script>
 <!-- jQuery -->
 <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!--JS-->
<!-- custom js file link  -->
<script src="{%static 'js/Home.js'%}"></script>
<script src="{%static 'js/event.js'%}"></script>
<script src ="{%static 'js/script.js'%}"></script>

</body> 
</html>