{% load static %}
{% static 'Images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    
    <link rel="stylesheet" href="{%static 'css/Home.css'%}">
   
</head>
<body>



<!-- header section starts  -->

<header class="header">
    
  <a href="#" class="logo"><span>Herald</span>SupportClan</a>

  <nav class="navbar">
    <a href="{% url 'Home' %}">Home</a>
    {% if user.is_authenticated %}
    <a href="{% url 'Forums' %}">Forums</a>
    {% comment %} <a href="{% url 'posts' %}">Posts</a> {% endcomment %}
    {% comment %} <a href="{% url 'detail' %}">Detail</a> {% endcomment %}
    <a href="{% url 'Event' %}">Events</a>
    <a href="{% url 'Newsletter' %}">Newsletter</a>
    {% endif %}
  </nav>

  <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section id="home" class="container-fluid">

<div class="row align-items-center min-vh-100 content">

<div class="col-md-8 ml-md-5 text-center text-md-left">

  
  <h2>Hello</h2>
  <h1>Discussion Forum</h1>
  <h3>learn online outside the classroom</h3>

  {% if user.is_authenticated %}
  <h2> Hello, {{user.username}}</h2>
  <a href="accounts/logout"><button> Logout now>></button></a>  
  {% else %}
  <a href="{% url 'register'  %}"><button> Register now>></button></a>  
  <a href="{% url 'login'  %}"><button> LogIn now>></button></a>  
  {% endif %}
  <div class="icons">
    <a href="#" class="fab fa-facebook-f"></a>
    <a href="#" class="fab fa-twitter"></a>
    <a href="#" class="fab fa-instagram"></a>
    <a href="#" class="fab fa-linkedin"></a>
  </div>

</div>

</div>


</section>

<!-- home section ends -->

<!-- course section starts  -->

{% comment %} {% for sec in secs %} {% endcomment %}
<section id="course">

<h1 class="heading">our latest events</h1>

{% for sec in secs %}
<div class="box-container">

  <div class="box" data-aos="flip-right">
    <img src="{{sec.img.url}}" alt="">
    <p>{{sec.desc}}</p>
  </div>

  {% comment %} <div class="box" data-aos="flip-down">
    <img src="{{sec2.img.url}}" alt="">
    <p>{{sec2.desc}}</p>
  </div>

  <div class="box" data-aos="flip-left">
    <img src="{{sec3.img.url}}" alt="">
    <p>{{sec3.desc}}</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{sec4.img.url}}" alt="">
    <p>{{sec4.desc}}</p>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="{{sec5.img.url}}" alt="">
    <p>{{sec5.desc}}</p>
  </div>

  <div class="box" data-aos="flip-right">
    <img src="{{sec6.img.url}}" alt="">
    <p>{{sec6.desc}}</p>
  </div> {% endcomment %}


</div>
{% endfor %}
</section>

<!-- course section ends -->


<!-- service section starts  -->

<section id="service">

<h1 class="heading">what we offer?</h1>

<div class="box-container">

  <div class="box" data-aos="flip-up">
    <img src="{% static 'Images/service1.jpg' %}" alt="">
    <div class="info">
      <h2>skilled teachers</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
    </div>
  </div>

  <div class="box" data-aos="flip-down">
    <img src="{% static 'Images/service2.jpg' %}" alt="">
    <div class="info">
      <h2>Work on Assignments Together</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
    </div>
  </div>

  <div class="box" data-aos="flip-up">
    <img src="{% static 'Images/service3.jpg' %}" alt="">
    <div class="info">
      <h2>Make new Friends</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ad officia quas pariatur error nesciunt consectetur voluptatem minima fugit quo!</p>
    </div>
  </div>

</div>


</section>

<!-- service section ends -->

<!-- testimonials section starts  -->

<section id="testimonial">

<h1 class="heading">{% if user.is_authenticated%}<a href="{% url 'studentreview' %}">{% endif %}what our students says</a></h1>

{% for student in students %} 
<div class="box-container">

<div class="box" data-aos="flip-left">
  <img src="{{ student.studentimage.url }}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>{{student.studentreview}}<i class="fas fa-quote-right"></i></p>
    <h2>--{{student.studentname}}</h2>
  </div>
</div>
 
{% comment %} <div class="box" data-aos="flip-right">
  <img src="{{ student.studentimage.url }}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>{{student.studentreview}}<i class="fas fa-quote-right"></i></p>
    <h2>--{{student.studentname}}</h2>
  </div>
</div>

<div class="box" data-aos="flip-left">
  <img src="{{ student.studentimage.url }}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>{{student.studentreview}}<i class="fas fa-quote-right"></i></p>
    <h2>--{{student.studentname}}</h2>
  </div>
</div>

<div class="box" data-aos="flip-right">
  <img src="{{ student.studentimage.url }}" alt="">
  <div class="info">
    <p><i class="fas fa-quote-left"></i>{{student.studentreview}}<i class="fas fa-quote-right"></i></p>
    <h2>--{{student.studentname}}</h2>
  </div>
</div>  {% endcomment %}

</div>
 {% endfor %} 
</section>

<!-- testimonials section ends -->

<!-- contact section starts  -->



<section class="about" id="about">

<h1 class="heading"><span>about us</span>  </h1>

<div class="row">

    <div class="image">
        <img src="{% static 'Images/about.jpg' %}" alt="">
    </div>

    <div class="content">
        <h3>Learn more about our goals</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam labore fugiat ut esse perferendis perspiciatis provident dolores fuga in facilis culpa possimus, quia praesentium itaque, sapiente quasi harum rem asperiores.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero expedita incidunt provident quibusdam aut odit, numquam nesciunt similique nisi.</p>
        <a href="#" class="btn">Our Team</a>
    </div>

</div>
</section>

<!-- contact section ends -->


<!-- footer section starts  -->

<section id="footer">

<h1>&copy; copyright @ 2021 by <span>Herald College Kathmandu</span></h1>

</section>

<!-- footer section ends -->


<div class="theme-toggler">

  <div class="toggle-btn">
      <i class="fas fa-cog"></i>
  </div>

  <h3>choose color</h3>

  <div class="buttons">
      <div class="theme-btn" style="background: #3867d6;"></div>
      <div class="theme-btn" style="background: #f7b731;"></div>
      <div class="theme-btn" style="background: #ff0033;"></div>
      <div class="theme-btn" style="background: #20bf6b;"></div>
      <div class="theme-btn" style="background: #fa8231;"></div>
      <div class="theme-btn" style="background: #FC427B;"></div>
  </div>

</div>





<!-- script part start  -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      delay:500
    });
</script>
 <!-- jQuery -->
 <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!--JS-->
<!-- custom js file link  -->
<script src="{%static 'js/Home.js'%}"></script>
<script src="{%static 'js/event.js'%}"></script>
<script src ="{%static 'js/script.js'%}"></script>

</body> 
</html>