{% load static %}
{% if user.is_authenticated%}
{% load hitcount_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href={%static 'css/forumagain.css'%}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav class="navigation hide" id="navigation">
                <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'Home' %}">Home</a></li>
                    <li class="nav-item"><a href="{% url 'Forums' %}">Forums</a></li>  
                    <li class="nav-item"><a href="{% url 'Event' %}">Events</a></li>
                    <li class="nav-item"><a href="{% url 'Newsletter' %}">Newsletter</a></li>
                </ul>
            </nav>
            <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
            <div class="brand"><span>Herald</span>SupportClan</div>
        </div>
          <!--SearchBox Section-->
          <form action="{% url 'search_result' %}" role="form" method="GET">
            <div class="search-box">
                <div>
                    <select name="search-box" id="">
                        <option value="Everything">Everything</option>
                        <option value="Titles">Titles</option>
                        <option value="Descriptions">Descriptions</option>
                    </select>
                    <input type="text" name="q" placeholder="search ...">
                    <button type="submit" name="search"><i class="fa fa-search"></i></button>
                </div>
            </div>
         </form>
    </header>
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span>Search:{{query}} --> {{objects|length}} Result(s) Found</span>
        </div>
        <!--Display posts table-->
        <div class="posts-table">
            <div class="table-head">
                <div class="status">Status</div>
                <div class="subjects">Subjects</div>
                <div class="replies">Replies/Views</div>
                <div class="last-reply">Last Reply</div>
            </div>


            {% for post in objects %}
            <div class="table-row">
                <div class="status"><i class="fa fa-fire"></i></div>
                <div class="subjects">
                    <a href="{{post.get_url}}">{{post.title}}</a>
                    <br>
                    <span>Started by <b><a href="">{{post.user.fullname|title}}</a></b> .</span>
                </div>
                <div class="replies">
                    {{post.num_comments}} comments <br> {% get_hit_count for post %} views
                </div>

                <div class="last-reply">
                    {{post.last_reply.date|date}}
                    <br>By <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                </div>
            </div>
            {% endfor %}
           
        </div>
        <!--Pagination starts-->
            <div class="pagination">
                pages: {% for num_page in posts.paginator.page_range %} <a href="?page={{num_page}}">{{num_page}}</a> {% endfor %}
            </div>
        <!--pagination ends-->
    </div>

   
    

    <footer>
        &copy; copyright @ 2021 by <span>Herald College Kathmandu</span>
    </footer>
    <script src="{%static 'js/forumagain.js'%}"></script>
</body>
</html>
{% else %}
<p style="color:#75bf44;font-size:30px;font-family: 'Poppins', sans-serif; font-weight:bolder;">
  Please Register or LogIn to view this page!<br><a href="{% url 'register' %}"><b>Register</b></a></br> or <a href="{% url 'login' %}"><b>Login</b></a>
</p>
{% endif %}