{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% if user.is_authenticated%}
{% block content %}

<h1 style="text-align:center; margin-block:50px; color:#333;">Hey {{user}}, Become An Author</h1>
<style>
  label {
    color: #000;
    font-size: 2rem;
}
</style>
<div class= "form-group">
  <form method="POST" action="." enctype="multipart/form-data" style="margin-left:150px;margin-bottom: 150px;">
    {% csrf_token %}    
    {{ form|crispy }}
    {% comment %} <button class= "btn btn-secondary"> Update</button> {% endcomment %}
    <input type="submit" value="Update"  style="margin-block:50px;">
  </form>
</div>

{% endblock content %}
{% else %}
<p style="color:#75bf44;font-size:30px;font-family: 'Poppins', sans-serif; font-weight:bolder;">
  Please Register or LogIn to view this page!<br><a href="{% url 'register' %}"><b>Register</b></a></br> or <a href="{% url 'login' %}"><b>Login</b></a>
</p>
{% endif %}